<div class="col-xl-3 col-sm-6 col-12">
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="media d-flex">
          <div class="media-body text-left">
            <h3 class="success">
              {{profile.displayName}}
            </h3>
            <span class="up">
              {{profile.role}}
            </span>
          </div>
          <div class="align-self-center">
            <img src={{profile.image}} class="float-right" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex">
  {{#each results}}
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="success">
                  {{this.mainpercentage}}
                </h3>
                <span>
                  {{this.maindisease}}
                </span>
              </div>
              <div class="align-self-center">
                <a href="/result/{{this.resultId}}" class="float-right medium">
                  View Details
                </a>
              </div>
            </div>
            <div class="progress mt-1 mb-0" style="height: 7px;">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: {{this.mainpercentage}}"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <div class="media-body mt-1 mb-0 text-left" onclick="on()">
              <span>
                {{this.createdAt}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<script>
  function on() {
    event.target.parentElement.parentElement.parentElement.parentElement.parentElement.querySelectorAll('.overlay')[0].style.display = "block"
  }

  function off() {
    event.target.parentElement.querySelectorAll('.overlay')[0].style.display = "none";
  }
</script>