{{!-- <div class="side-2">
  <a href="/user/{{profile.googleId}}" class="profile">
  <div class="card">
    <div class="image">
      <img
        src="{{profile.image}}"
        alt=""
        srcset=""
      />
    </div>
    <div class="profile-description">
      <div class="name">
        {{profile.displayName}}
      </div>
      <div class="role">
        {{profile.role}}
      </div>
    </div>
  </div>
  <div class="email card">
    {{profile.email}}
  </div>
</a>
  <div class="navigation">
    {{#if auth}}
    <a class="card" href="/dashboard" class="active">Dashboard</a></li>
    {{/if}}
    {{#if doctor}}
    <a class="card" href="/user/patient">Patients</a>
    {{/if}}
    {{#if patient}}
    <a class="card" href="/user/doctor">Doctors</a>
    {{/if}}
    {{#if notDoctor}}
    <a class="card" href="/form">Form</a>
    {{/if}}
    {{#if auth}}
    <a class="card" href="/auth/logout">Logout</a>
    {{else}}
    <a class="card" href="/auth/google">Enter</a>
    {{/if}}
  </div>
</div> --}}

<div class="main-2">
  {{#each results}}
  <a href="/result/{{this.resultId}}">
    <div class="result-card">
        <div class="disease-details"> 
            <div class="disease-percentage">{{this.mainpercentage}}</div>
            <div class="disease-name">{{this.maindisease}}</div>
        </div>
        <div class="percentage-bar">
            <div class="progress" style="width: {{this.mainpercentage}}"></div>
        </div>
        <div class="time">
          <span>{{this.createdAt}}</span>
        </div>
      </div>
    </a>
  {{/each}}
</div>
<script>
  document.getElementById("dashboard").classList.add("active-field");
</script>
{{!-- <div class="main"></div>
<div class="main"></div> --}}
{{!-- 
<div class="flex">
  {{#each results}}
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="success">
                  {{this.mainpercentage}}
                </h3>
                <span>
                  {{this.maindisease}}
                </span>
              </div>
              <div class="align-self-center">
                <a href="/result/{{this.resultId}}" class="float-right medium">
                  View Details
                </a>
              </div>
            </div>
            <div class="progress mt-1 mb-0" style="height: 7px;">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: {{this.mainpercentage}}"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <div class="media-body mt-1 mb-0 text-left">
              <span>
                {{this.createdAt}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div> --}}
