<div class="main-2">
    <a href="/user/{{user.googleId}}" class="user">
  <div class="card sticky">
    <div class="image">
      <img
        src="{{user.image}}"
        alt=""
        srcset=""
      />
    </div>
    <div class="profile-description">
      <div class="name">
        {{user.displayName}}
      </div>
      <div class="email">
        {{user.email}}
      </div>
    </div>
  </div>
</a>
    {{#each prescriptions}}

      <div class="prescription-card">

        <a href="/result/{{this.resultId}}">
            <div class="result-card">
        <div class="disease-details"> 
            <div class="disease-percentage">{{this.predictionMain.[0]}}</div>
            <div class="disease-name">{{this.predictionMain.[1]}}</div>
        </div>
        <div class="percentage-bar">
            <div class="progress" style="width: {{this.predictionMain.[1]}}"></div>
        </div>
    </div>
        </a>

            <div class="prescription">
              
            <textarea name="prescription" readonly>{{this.prescription}}</textarea>
            </div>
            <div class="time">
                <span>
                    
        {{this.createdAt}}
                </span>
            </div>
          </div>
{{/each}}