{{!-- <div class="side-2">
  <a href="/user/{{profile.googleId}}" class="profile">
  <div class="card">
    <div class="image">
      <img
        src="{{profile.image}}"
        alt=""
        srcset=""
      />
    </div>
    <div class="profile-description">
      <div class="name">
        {{profile.displayName}}
      </div>
      <div class="role">
        {{profile.role}}
      </div>
    </div>
  </div>
  <div class="email card">
    {{profile.email}}
  </div>
</a>
<div class="navigation">
    {{#if auth}}
    <a class="card" href="/dashboard" class="active">Dashboard</a></li>
    {{/if}}
    {{#if doctor}}
    <a class="card" href="/user/patient">Patients</a>
    {{/if}}
    {{#if patient}}
    <a class="card" href="/user/doctor">Doctors</a>
    {{/if}}
    {{#if notDoctor}}
    <a class="card" href="/form">Form</a>
    {{/if}}
    {{#if auth}}
    <a class="card" href="/auth/logout">Logout</a>
    {{else}}
    <a class="card" href="/auth/google">Enter</a>
    {{/if}}
  </div>
</div> --}}


<div class="main-2">
  <div class="card active-field">Prescriptions:</div>
    {{#each prescriptions}}

      <div class="prescription-card">

        <a href="/result/{{this.resultId}}">
            <div class="result-card">
        <div class="disease-details"> 
            <div class="disease-percentage">{{this.predictionMain.[0]}}</div>
            <div class="disease-name">{{this.predictionMain.[1]}}</div>
        </div>
        <div class="percentage-bar">
            <div class="progress" style="width: {{this.predictionMain.[1]}}"></div>
        </div>
    </div>
        </a>

            <div class="prescription">
              
            <textarea name="prescription" readonly>{{this.prescription}}</textarea>
            </div>
            <div class="time">
                <span>
                    
        {{this.createdAt}}
                </span>
            </div>
          </div>
{{/each}}