{{!-- <div class="side-2">
  <a href="/user/{{profile.googleId}}" class="profile">
  <div class="result-card">
    <div class="image">
      <img
        src="{{profile.image}}"
        alt=""
        srcset=""
      />
    </div>
    <div class="profile-description">
      <div class="name">
        {{profile.displayName}}
      </div>
      <div class="role">
        {{profile.role}}
      </div>
    </div>
  </div>
  <div class="email result-card">
    {{profile.email}}
  </div>
</a>
  <div class="navigation">
    {{#if auth}}
    <a class="result-card" href="/dashboard" class="active">Dashboard</a></li>
    {{/if}}
    {{#if doctor}}
    <a class="result-card" href="/user/patient">Patients</a>
    {{/if}}
    {{#if patient}}
    <a class="result-card" href="/user/doctor">Doctors</a>
    {{/if}}
    {{#if notDoctor}}
    <a class="result-card" href="/form">Form</a>
    {{/if}}
    {{#if auth}}
    <a class="result-card" href="/auth/logout">Logout</a>
    {{else}}
    <a class="result-card" href="/auth/google">Enter</a>
    {{/if}}
  </div>
</div> --}}

<div class="main-1">
<form action="form" method="post">

    <div class="result-card temp active-field">Form</div>
    <div class="result-card temp">How are you feeling:</div>
    <div class="large-textarea card">
      <textarea cols=5 name="feeling"></textarea>
    </div>

    <div class="result-card temp">Please choose symptoms:</div>
    <select name="symptoms" class="slide ui fluid search dropdown" multiple="">
        <option class="temp" value="">Symptoms</option>
        {{#each data}}
        <option value={{@index}}>{{this}}</option>
        {{/each}}
    </select>
    
    <button  class="result-card" type="submit" class = "btn" value="Submit">Submit </button>
</form>
</div>


<script>
  document.getElementById("form").classList.add("active-field");
</script>
