{{!-- <div class="side">
    {{#if showProfile}}
  <a href="/user/{{user.googleId}}" class="profile">
  <div class="card">
    <div class="image">
      <img
        src="{{user.image}}"
        alt=""
        srcset=""
      />
    </div>
    <div class="profile-description">
      <div class="name">
        {{user.displayName}}
      </div>
      <div class="role">
        {{user.role}}
      </div>
    </div>
  </div>
  <div class="email card">
    {{user.email}}
  </div>
</a>
  {{/if}}
  <div class="navigation">
    {{#if auth}}
    <a class="card" href="/dashboard" class="active">Dashboard</a></li>
    {{/if}}
    {{#if doctor}}
    <a class="card" href="/user/patient">Patients</a>
    {{/if}}
    {{#if patient}}
    <a class="card" href="/user/doctor">Doctors</a>
    {{/if}}
    {{#if notDoctor}}
    <a class="card" href="/form">Form</a>
    {{/if}}
    {{#if auth}}
    <a class="card" href="/auth/logout">Logout</a>
    {{else}}
    <a class="card" href="/auth/google">Enter</a>
    {{/if}}
  </div>
</div> --}}

<div class="main">
  {{#if showProfile}}
  <div class="card active-field">You are viewing result of:</div>
  <a href="/user/{{user.googleId}}" class="user">
  <div class="card">
    <div class="image">
      <img
        src="{{user.image}}"
        alt=""
        srcset=""
      />
    </div>
    <div class="profile-description">
      <div class="name">
        {{user.displayName}}
      </div>
      <div class="role">
        {{user.role}}
      </div>
    </div>
  </div>
  <div class="email card">
    {{user.email}}
  </div>
</a>
{{else}} <div class="card active-field">You are viewing other patient's result</div>

{{/if}}
    {{!-- <div class="result-card">
        <div class="disease-details"> 
            <div class="disease-percentage">{{pdp}}</div>
            <div class="disease-name">{{pdn}}</div>
        </div>
        <div class="percentage-bar">
            <div class="progress" style="width: {{pdp}}"></div>
        </div>
        <div class="time">
          <span>{{createdAt}}</span>
        </div>
    </div> --}}
    <div class="card active-field">Patient was feeling:</div>
    <div class="prescription-card">
    <div class="prescription">
        <textarea readonly>{{feeling}}</textarea>
    </div>
    </div>
    
  <div class="card active-field">Symptoms: </div>
    {{#each symptoms}}
    <div class="card">
      {{this}}
    </div>
  {{/each}}
  {{!-- <div class="card email">Prescription</div> --}}
  
</div>

<div class="main">
  <div class="card active-field sticky">Diseases</div>
  {{#each diseases}}
    <div class="result-card">
        <div class="disease-details"> 
            <div class="disease-percentage">{{this.percs}}</div>
            <div class="disease-name">{{this.name}}</div>
        </div>
        <div class="percentage-bar">
            <div class="progress" style="width: {{this.percs}}"></div>
        </div>
    </div>
  {{/each}}
</div>

{{#if auth}}
<div class="main">
  {{#if doctor}}
    <div class="card active-field">Prescription Form: </div>
    <form action="/prescription/{{this.resultId}}" method="post">
       <div class="prescription-card">
          <div class="prescription">
              <textarea  name="prescription"></textarea>
          </div>   
        <button class="p-form-card grey">Prescribe</button>
        </div>
    </form>
  {{/if}}
  <div class="card active-field sticky">Prescriptions: </div>
    {{#each prescriptions}}

      <div class="prescription-card">

        <a href="/user/{{this.googleId}}" class="small-profile">
            <div class="image">
                <img class="small-image" src="{{this.user.image}}"
                    alt="" srcset="" />
            </div>
            <div class="profile-description-small">
                <div class="small-name">
                    {{this.user.displayName}}
                </div>
                <div class="small-email">
                    {{this.user.email}}
                </div>
            </div>
            
        </a>
        <div class="time">
                <span>
                    
        {{this.createdAt}}
                </span>
            </div>
            <div class="prescription">
              
            <textarea name="prescription" readonly>{{this.prescription}}</textarea>
            </div>
            
          </div>
{{/each}}
{{/if}}