<div class="main-2">
  <div class="card active-field">You are viewing Patient's Profile:</div>
    <a href="/user/{{user.googleId}}" class="user">
  <div class="card sticky">
    <div class="image">
      <img
        src="{{user.image}}"
        alt=""
        srcset=""
      />
    </div>
    <div class="profile-description">
      <div class="name">
        {{user.displayName}}
      </div>
       <div class="role">
        {{user.role}}
      </div>
      <div class="email">
        {{user.email}}
      </div>
    </div>
  </div>
</a>
<div class="card active-field">Results:</div>
  {{#each results}}
  <a href="/result/{{this.resultId}}">
    <div class="result-card">
        <div class="disease-details"> 
            <div class="disease-percentage">{{this.mainpercentage}}</div>
            <div class="disease-name">{{this.maindisease}}</div>
        </div>
        <div class="percentage-bar">
            <div class="progress" style="width: {{this.mainpercentage}}"></div>
        </div>
        <div class="time">
          <span>{{this.createdAt}}</span>
        </div>
      </div>
    </a>
  {{/each}}
</div>