{{#if auth}}
<div class="card active-field">Your Profile:</div>
<a href="/user/{{profile.googleId}}" class="profile">
  <div class="card">
    <div class="image">
      <img
        src="{{profile.image}}"
        alt=""
        srcset=""
      />
    </div>
    <div class="profile-description">
      <div class="name">
        {{profile.displayName}}
      </div>
      <div class="role">
        {{profile.role}}
      </div>
    </div>
  </div>
  <div class="email card">
    {{profile.email}}
  </div>
</a>
{{/if}}
  <div class="navigation-form">
        
    {{#if auth}}
    <a class="result-card" id="dashboard" href="/dashboard">Dashboard</a>
    {{/if}}
    {{#if doctor}}
    <a class="result-card"id="patients" href="/user/patient">Patients</a>
    {{/if}}
    {{#if patient}}
    <a class="result-card"id="doctors" href="/user/doctor">Doctors</a>
    {{/if}}
    {{#if notDoctor}}
    <a class="result-card"id="form" href="/form">Form</a>
    {{/if}}
    {{#if auth}}
    <a class="result-card"id="logout" href="/auth/logout">Logout</a>
    {{else}}
    <a class="result-card"id="enter" href="/auth/google">Enter</a>
    {{/if}}
    {{!-- <div class="card"> --}}

    {{!-- </div> --}}
  </div>
   <div class="card logo"><img class='logo-i' src="../images/logo.png" alt="Arrow" srcset=""></div>

</div>
